services:
  web:
    build: .
    command: >
      sh -c "
      python manage.py migrate --noinput &&
      python manage.py collectstatic --noinput &&
      python manage.py createsuperuser --noinput || true &&
      gunicorn app.wsgi:application --bind 0.0.0.0:8002"
    env_file:
      - .env
    expose:
      - 8002
    volumes:
      - .:/app

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web
