services:
  web:
    build: .
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8002
    volumes:
      - .:/app
    env_file:
      - .env
    expose:
      - 8002

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web

